.settingsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingsPersonaRow {
    display: flex;
    justify-content: space-between;
}

.selectWithTitleContainer {
    text-align: left;
    margin-bottom: 8px;

    .title {
        margin-bottom: 8px;
        margin-top: 12px;
    }
}
