.tableCell {
    display: table-cell;
    margin-right: 8px;
}
.divTableRow {
    display: table-row;
}

.divTableCell {
    display: table-cell;
    align-items: center;
}

.iconColor {
    color: red;
}
