.navigationContainer {
    flex-grow: 0;
    display: flex;
    align-items: center;

    .logo {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
        height: 70px;
        width: auto;
    }

    .menuContainer {
        min-width: 0;
        flex: auto;
    }
}
