.navigationContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
        height: 70px;
        width: auto;
    }

    .menuContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 0;
        flex: auto;
    }

    .menuItemIconAbove {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.accountMenu {
    margin-left: auto;
    padding-right: 10px;
}
