.courseRatingContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.courseTitleContainer {
    display: flex;
    align-items: center;
}

.backButton {
    margin-right: 10px;
}
