@import '../../../colors.module.scss';

.courseContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorSecondary;
    padding: 0 10px;
    margin: 10px 0 10px 0;
    color: black;
    border-radius: 12px;
}

.courseTitle {
    font-weight: bold;
    color: black !important;
}

.extraButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
