@import '../../../colors.module.scss';

.ratingContainer {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0 10px;

    .rating {
        text-align: center;
        min-width: 30px;
        border-radius: 5px;
        padding: 5px 10px;
    }
}

.ratingGood {
    background-color: $colorRatingGood;
}

.ratingBad {
    background-color: $colorRatingBad;
}

.ratingMedian {
    background-color: $colorRatingMedian;
}

.ratingNone {
    background-color: $colorSecondary;
}
