.navigationContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        height: 70px;
        width: auto;
    }

    .menuContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 0;
        flex: auto;
    }
}

.accountMenu {
    margin-left: auto;
    padding-right: 10px;
}

.logoContainer {
    display: flex;
    min-width: 0;
    flex: auto;
    gap: 4px;

    .titleContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;
        flex: auto;

        .title {
            margin: 0;
        }
    }
}
