$colorPrimary: #C6264E;
$colorTextHeading: #FFFFFF;
$colorBgContainer: #FFFFFF;
$colorLink: #C6264E;
$colorLinkHover: #3D3D3C;
$colorLinkActive: #95223F;

:export {
  colorPrimary: $colorPrimary;
  colorTextHeading: $colorTextHeading;
  colorBgContainer: $colorBgContainer;
  colorLink: $colorLink;
  colorLinkHover: $colorLinkHover;
  colorLinkActive: $colorLinkActive;
}
