$colorPrimary: #c6264e;
$colorTextHeading: #ffffff;
$colorBgContainer: #ffffff;
$colorLink: #c6264e;
$colorLinkHover: #3d3d3c;
$colorLinkActive: #95223f;

:export {
    colorPrimary: $colorPrimary;
    colorTextHeading: $colorTextHeading;
    colorBgContainer: $colorBgContainer;
    colorLink: $colorLink;
    colorLinkHover: $colorLinkHover;
    colorLinkActive: $colorLinkActive;
}
