body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0 8px;
}

html {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.material-symbols-rounded {
    /* Recommended icon sizes */
    &.small {
        font-size: 20px;
        font-variation-settings: 'OPSZ' 20;
    }

    &.medium {
        font-size: 24px;
        font-variation-settings: 'OPSZ' 24;
    }

    &.large {
        font-size: 40px;
        font-variation-settings: 'OPSZ' 40;
    }

    &.extra-large {
        font-size: 48px;
        font-variation-settings: 'OPSZ' 48;
    }

    /* Rules for using icons as black on a light background. */
    &.dark {
        background: black;
        color: rgba(255, 255, 255, 1);
        font-variation-settings: 'GRAD' -25;
    }

    &.dark-inactive {
        background: black;
        color: rgba(255, 255, 255, 0.3);
        font-variation-settings: 'GRAD' -25;
    }
}
