.curriculumContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
}

.spaceBetweenButtonAndSearch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.searchbar {
    width: 300px;
}

.table {
    height: 100%;
}

.alignSubmenu {
    text-align: center;
}

.iconTextSpaceBetween {
    margin-right: 5px;
}
